<html>
	<head>
		<meta charset="utf-8">
		<title>WiFi Stream App</title>
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css'>
		<meta name="apple-mobile-web-app-capable" content="yes">
	</head>
	<body style="padding: 20px;"><center>
		<div class="alert alert-danger" role="alert" style="display: none;"></div>
		
		
		<h1>WiFi Stream</h1>
		<p>The local web server to manage files over your secure network. A project by <a href="https://brianwalczak.com">Brian Walczak</a>!</p><br>

		<form style="width: 500px;" action="/api/authorize">
		  <div class="form-group">
		    <label for="path">File directory<span style="color: red;">*</span></label>
		    <input type="text" class="form-control" name="path" placeholder="/Volumes/USB Stick" value="<%= defaultPath %>" required>
				<small class="form-text text-muted">Please enter a valid directory that is accessible by the server.</small>
		  </div>
		  <button type="submit" class="btn btn-success">Read Directory</button>
		</form>
		<br>
		<script>
			const parameters = new URLSearchParams(window.location.search);

			if (parameters.has('error')) {
			  document.querySelector('.alert').innerText = parameters.get('error');
				document.querySelector('.alert').style.display = "block";
			}
		</script>
	</center></body>
</html>